/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #3c893f;
    --color-secondary: #eb9956;
    --color-bg: #fffaf1;
    --color-clairBG: #f1ece2;
    --color-fail: #f6511d;
}
